@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Global Styles */

.bg-blue{
    background-color: rgba(84, 144, 245, 0.2);
}

.bg-green{
    background-color: #C6E4D6;
}

.bg-yellow{
    background-color: #F7EBCF;
}

.card-border{
    border: 1px solid rgba(14, 14, 14, 0.15);
}

.margin-top{
    margin-top: 24px;
}

.green-bg{
    background-color: #C6E4D6;
}


/* Nav Bar Style */

.nav-center{
    display: flex;
    justify-content: center;
    margin-bottom: 0;
}

.nav{
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 100px;
    align-items: center;
    margin-bottom: 0;
}

.nav h1{
    font-family: "Fira Sans",sans-serif;
    font-weight: 700;
    font-size: 32px;
    color: #0E0E0E;
}

.nav .btn{
    font-family: "Fira Sans", sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #006A50;
    border: 1px solid #006A50;
    border-radius: 8px;
    padding: 13px 30px;
}

/* Hero Section Style */

.hero{
    display: flex;
    justify-content: center;
    width: 1280px;
    margin: 0% 9.7%;
    background-color: #C6E4D6;
    border-radius: 24px;
}

.first-container{
    display: flex;
    justify-content: space-between;
    width: 91%;
    height: 560px;
    align-items: center;
    margin-bottom: 0;
}

.web-name{
    margin: 0;
    font-family: "Fira Sans",sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: #0E0E0E;
    opacity: 0.5;
}

.first-header{
    font-family: "Fira Sans",sans-serif;
    font-family: 700;
    color: #0E0E0E;
    font-size: 56px;
    margin: 16px 0px 24px 0px;
}

.hero-btn{
    background-color: #006A50;
    color: #FFFFFF;
    border-radius: 8px;
    padding: 20px 40px;
    border-style: none;
    font-family: "Fira Sans",sans-serif;
    font-size: 18px;
    font-weight: 600;
}

/* Pillars Part Style */

.pillars{
    display: flex;
    justify-content: center;
    width: 1280px;
    margin: 80px 9.7%;
    background-color: #FFFFFF;
}

.second-container{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: left;
}

.second-header{
    margin: 0;
    font-family: "Fira Sans",sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: #0E0E0E;
}

.ideas{
    width: 100%;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    margin-top: 32px;
}

.cards{
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 32px;
    width: 302px;
    border-radius: 16px;
}



.cards img{
    width: 62px;
    height: 62px;
}

.cards h3{
    text-align: left;
    margin: 0;
    margin-top: 24px;
    font-family: "Fira Sans",sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #0E0E0E;
    opacity: 0.8;
}

.cards p{
    text-align: left;
    width: 90%;
    margin-top: 0;
    margin-top: 12px;
    font-family: "Fira Sans",sans-serif;
    font-size: 16px;
    line-height: 24px;
}


/* Vision Part Style */

.vision{
    display: flex;
    justify-content: center;
    width: 1280px;
    margin: 0% 9.7%;
    background-color: #FFFFFF;
}

.third-container{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: left;
}

.third-container p{
    font-family: "Fira Sans",sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #0E0E0E;
    opacity: 0.7;
}

.second-card{
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 24px;
    width: 410.67px;
    border-radius: 16px;
}

.second-card img{
    width: 62px;
    height: 62px;
}

.second-card h3{
    text-align: left;
    margin: 0;
    margin-top: 24px;
    font-family: "Fira Sans",sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #0E0E0E;
    opacity: 0.8;
}

.second-card p{
    text-align: left;
    width: 90%;
    margin-top: 0;
    margin-top: 12px;
    font-family: "Fira Sans",sans-serif;
    font-size: 16px;
    line-height: 24px;
}

.learn-blue, .learn-green, .learn-yellow{
    width: 35%;
    border-radius: 8px;
    font-style: "Fira Sans",sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
    border-style: none;
    padding: 11px 20px;
}

.learn-blue{
    background-color: #5490F5;
    margin-top: 17px;

}

.learn-green{
    background-color: #09A15C;
    margin-top: 41px;
}

.learn-yellow{
    background-color: #FFC239;
    margin-top: 25px;
}

/* Quote Style part */


.quote{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 1280px;
    margin: 32px 9.7% 0px 9.7%;
    background-color: #FFFFFF;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
}

.background-image-quote{
    margin: 25px 24px;
}

.quote-container{
    display: flex;
    width: 1232px;
    flex-direction: column;
    justify-content: left;
    margin: -60px 24px 48px 24px;
}

.qoute-writting{
    margin: 0;
    font-family: "Fira Sans",sans-serif;
    font-size: 16px;
    line-height: 24px;
    opacity: 0.8;
    color: #0E0E0E;
    margin-bottom: 12px;
}

.author-name{
    margin: 0;
    font-family: "Fira Sans",sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    opacity: 0.8;
    color: #0E0E0E;
    text-align: left;
    margin-bottom: 4px;
}

.author-rank{
    margin: 0;
    font-family: "Fira Sans",sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #0E0E0E;
    text-align: left;
    opacity: 0.6;
}

/* Opinion Part Style */

.opinion{
    display: flex;
    flex-direction: column;
    width: 1280px;
    margin: 80px 9.7%;
    background-color: #FFFFFF;
}

.opinion-header{
    font-family: "Fira Sans",sans-serif;
    font-size: 40px;
    font-weight: 700;
    color: #0E0E0E;
}

.opinion-table{
    margin: 32px;
}

table{
    width: 1216px;
    border-collapse: collapse;
}

thead{
    text-align: left;
    border: 1px solid rgba(14, 14, 14, 0.15);
}

thead th {
    background-color: #C6E4D6;
    font-family: "Fira Sans",sans-serif;
    color: #0E0E0E;
    font-size: 20px;
    font-weight: 600;
}

.opinion-table td{
    border: 1px solid rgba(14, 14, 14, 0.15);
}

.opinion-table td, th{ 
    padding: 24px;
}

.questions{
    font-family: "Fira Sans",sans-serif;
    font-weight: 600;
    color: #0E0E0E;
    font-size: 16px;
}

.options-area{
    text-align: center;
}

.options{
    width: 152px;
    background-color: #C6E4D6;
    border: 1px solid #0E0E0E;
    margin: 0 auto;
    padding: 10px 16.5px;
    font-family: "Fira Sans",sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #0E0E0E;
    border-radius: 4px;
}

/* Recent News Styles */

.recent-news{
    display: flex;
    flex-direction: column;
    width: 1280px;
    margin: 0% 9.7% 32px 9.7%;
    background-color: #FFFFFF;
}

.news-header{
    margin: 0;
    font-family: "Fira Sans",sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: #0E0E0E;
    margin-bottom: 24px;
}

.news-info{
    margin: 0;
    font-family: "Fira Sans",sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #0E0E0E;
    opacity: 0.7;
}

/* Actual News Part Styles */

.actual-news{
    display: flex;
    flex-direction: column;
    width: 1280px;
    margin: 0% 9.7%;
    background-color: #FFFFFF;
}

.news-container{
    width: 1184px;
    display: flex;
    gap: 32px;
    align-items: center;
    margin: 48px;
}

.satelite{
    border-radius: 24px;
}

.news-article-container{
    display: flex;
    flex-direction: column;
    align-items: start;
}

.actual-news-header{
    font-family: "Fira Sans",sans-serif;
    font-weight: 700;
    font-size: 32px;
    color: #0E0E0E;
    opacity: 0.8;
    margin: 0;
}

.al-jazeera{
    margin-top: 12px;
}

.actual-news-date-and-time{
    display: flex;
    gap: 12px;
    margin: 12px 0px;
}

.news-info-writting{
    font-family: "Fira Sans",sans-serif;
    line-height: 24px;
    font-size: 16px;
    color: #0E0E0E;
    opacity: 0.7;
    margin: 0;
}

.news-read{
    border-radius: 8px;
    font-style: "Fira Sans",sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
    border-style: none;
    padding: 13px 26px;
    background-color: #006A50;
    margin-top: 32px;
}

/* Donate Section Styles */

.donate{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1280px;
    margin: 80px 9.7%;
    background-color: #FFFFFF;
}

.donate-header{
    margin: 0;
    margin-bottom: 24px;
    font-family: "Fira Sans",sans-serif;
    color: #0E0E0E;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}

.donate-info{
    font-family: "Fira Sans",sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #0E0E0E;
    opacity: 0.7;
    text-align: center;
    width: 1104px;
    margin: 0;
    margin-bottom: 32px;
}

.donate-ammounts{
    display: flex;
    gap: 24px;
    width: 1071px;
}

.donate-btn{
    font-family: "Fira Sans",sans-serif;
    font-size: 40px;
    font-weight: 700;
    color: #0E0E0E;
    opacity: 0.8;
    padding: 40px;
    border-radius: 16px;
    border: 1px solid rgba(14, 14, 14, 0.15);
}

.write-donation{
    width: 952px;
    padding: 20px 40px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-top: none;
    border-right: none;
    border-left: none;
    text-align: center;
    font-family: "Fira Sans",sans-serif;
    font-size: 20px;
    margin-top: 32px;
}

.write-donation::placeholder{
    font-family: "Fira Sans",sans-serif;
    font-size: 20px;
    color: rgba(14, 14, 14, 0.3);
}

.donate-now-btn{
    border-radius: 8px;
    font-style: "Fira Sans",sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
    border: 1px solid rgba(14, 14, 14, 0.1);
    padding: 17px 34px;
    background-color: #006A50;
    margin-top: 32px;
}

/* Newsletter Part Styles */

.newsletter{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 24px;
    width: 1280px;
    margin: 0% 9.7% 80px 9.7%;
    background-color: #C6E4D6;
}

.newsletter-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 750px;
    margin: 80px 265px;
    text-align: center;
}

.newsletter-header{
    width: 622px;
    font-family: "Fira Sans",sans-serif;
    font-size: 40px;
    font-weight: 700;
    color: #0E0E0E;
    margin: 0;
}

.newsletter-info{
    width: 622px;
    font-family: "Fira Sans",sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #0E0E0E;
    opacity: 0.7;
    margin: 0;
    margin-top: 16px;
}

.newsletter-email{
    width: 100%;
    display: flex;
    margin: 24px 0px;
}

.newsletter-input{
    width: 75%;
    border-radius: 8px 0px 0px 8px;
    padding: 18px 40px;
    border-style: none;
    background-color: #FFFFFF;
    font-size: 18px;
}

.newsletter-input::placeholder{
    font-family: "Fira Sans",sans-serif;
    font-size: 16px;
    color: #0E0E0E;
    opacity: 0.3;
}

.subscribe-btn{
    border-radius: 0px 8px 8px 0px;
    font-style: "Fira Sans",sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
    padding: 17px 34px;
    background-color: #006A50;
    border-style: none;
}

.footer-note{
    width: 622px;
    font-family: "Fira Sans",sans-serif;
    font-size: 16px;
    color: #0E0E0E;
    opacity: 0.7;
    margin: 0;
}